{#

This file is part of the ASBO package.

(c) De Ron Malian <deronmalian@gmail.com>

For the full copyright and license information, please view the LICENSE
file that was distributed with this source code.

#}

{% extends base_template %}

{% block breadcrumb %}
	<li><a href="{{ path('sonata_admin_dashboard') }}">Admin</a></li>
	<li> <span class="divider">-</span>  <a href="{{ path('asbo_whoswho_admin_dashboard') }}">Who's Who ?</a></li>
{% endblock %}
