default:
    context:
        class: Asbo\WhosWhoBundle\Features\Context\FeatureContext
        parameters:
            base_url: http://asbo.local/app_test.php
            browser: chrome
            javascript_session: webdriver
    extensions:
        Behat\Symfony2Extension\Extension:
            mink_driver: true
            kernel:
                env: test
                debug: true
                path: Features/Fixtures/Project/app/AppKernel.php
                bootstrap: Features/Fixtures/Project/app/bootstrap.php
        Behat\MinkExtension\Extension:
            selenium2:
                browser: chrome
            base_url: 'http://test.asbo.com/'
            default_session: symfony2

