<h1>Liste des Fras{% if fras %} ({{ fras|length }}){% endif %}</h1>
<table class="table">
    <tr>
        <th>Nom</th>
        <th>Prénom</th>
        <th>Surnom</th>
    </tr>
        {% for fra  in fras  %}
        <tr>
            <td>
                {{ fra.lastname }}
            </td>
            <td>
                {{ fra.firstname }}
            </td>
            <td>
                {{ fra.nickname }}
            </td>
        </tr>
        {% endfor %}
</table>
